extends layout

block head
	div #{title}

block content
	div.about
		div.about-pic
			img(src="images/fir.jpg")
		div.about-des
			p 主讲人：
			p 主题：
			p 介绍：
		div.pay.ovhi
			p.pull-left 价格：
				span
			button.pull-right.weui_btn.weui_btn_mini.weui_btn_primary 支付