//- extends layout

block head
	div #{title}
		a.pull-left(onclick="backMine()") 我

block content
	div.weui_cells_title
		each item in allItem
			div.weui_cells.weui_cells_access
				a.weui_cell.ovhi.fs-14
					div.weui_cell_hd.pull-left
						img(src="images/#{item.pic}")
					div.introduce.pull-left
						div
							p 
								span 主题：
								span #{item.title}
						div 
							p 
								span 主讲人：
								span #{item.author}